body, nav, div, input, header, footer {
    background-color: #333333 !important;
    
}

footer {
    outline: solid 2px #fff !important;
}

header {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


nav {
    border: 2px solid #D2D2D2 !important;
    border-radius: 10px !important;
}

section {
    background-color: #333333 !important;
}

div a, p, span, input, h1, h2, h3, h4, h5, h6, li {
    color: #D2D2D2 !important;
}